In [1]:
# Import necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score
from scipy.stats import chi2_contingency
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, precision_recall_fscore_support
import warnings
import os

In [2]:
# Load the dataset
a1 = pd.read_excel("D:\credit_risk_modelling_ml\case_study1.xlsx")
a2 = pd.read_excel("D:\credit_risk_modelling_ml\case_study2.xlsx")

In [3]:
df1 = a1.copy()
df2 = a2.copy()

In [6]:
# Set the maximum number of columns and rows to display to None (unlimited)
pd.set_option('display.max_columns', None)  # Set the maximum number of columns to None
pd.set_option('display.max_rows', None)     # Set the maximum number of rows to None

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51336 entries, 0 to 51335
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   PROSPECTID            51336 non-null  int64
 1   Total_TL              51336 non-null  int64
 2   Tot_Closed_TL         51336 non-null  int64
 3   Tot_Active_TL         51336 non-null  int64
 4   Total_TL_opened_L6M   51336 non-null  int64
 5   Tot_TL_closed_L6M     51336 non-null  int64
 6   pct_tl_open_L6M       51336 non-null  float64
 7   pct_tl_closed_L6M     51336 non-null  float64
 8   pct_active_tl         51336 non-null  float64
 9   pct_closed_tl         51336 non-null  float64
 10  Total_TL_opened_L12M  51336 non-null  int64
 11  Tot_TL_closed_L12M    51336 non-null  int64
 12  pct_tl_open_L12M      51336 non-null  float64
 13  pct_tl_closed_L12M    51336 non-null  float64
 14  Tot_Missed_Pmnt       51336 non-null  int64
 15  Auto_TL               51336 non-null  int64
 16  CC_TL                 51336 non-null  int64
 17  Consumer_TL           51336 non-null  int64
 18  Gold_TL               51336 non-null  int64
 19  Home_TL               51336 non-null  int64
 20  PL_TL                 51336 non-null  int64
 21  Secured_TL            51336 non-null  int64
 22  Unsecured_TL          51336 non-null  int64
 23  Other_TL              51336 non-null  int64
 24  Age_Oldest_TL         51336 non-null  int64
 25  Age_Newest_TL         51336 non-null  int64
dtypes: float64(6), int64(20)
memory usage: 10.2 MB

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51336 entries, 0 to 51335
Data columns (total 62 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PROSPECTID                    51336 non-null  int64
 1   time_since_recent_payment     51336 non-null  int64
 2   time_since_first_deliquency   51336 non-null  int64
 3   time_since_recent_deliquency  51336 non-null  int64
 4   num_times_delinquent          51336 non-null  int64
 5   max_delinquency_level         51336 non-null  int64
 6   max_recent_level_of_deliq     51336 non-null  int64
 7   num_deliq_6mts                51336 non-null  int64
 8   num_deliq_12mts               51336 non-null  int64
 9   num_deliq_6_12mts             51336 non-null  int64
 10  max_deliq_6mts                51336 non-null  int64
 11  max_deliq_12mts               51336 non-null  int64
 12  num_times_30p_dpd             51336 non-null  int64
 13  num_times_60p_dpd             51336 non-null  int64
 14  num_std                       51336 non-null  int64
 15  num_std_6mts                  51336 non-null  int64
 16  num_std_12mts                 51336 non-null  int64
 17  num_sub                       51336 non-null  int64
 18  num_sub_6mts                  51336 non-null  int64
 19  num_sub_12mts                 51336 non-null  int64
 20  num_dbt                       51336 non-null  int64
 21  num_dbt_6mts                  51336 non-null  int64
 22  num_dbt_12mts                 51336 non-null  int64
 23  num_lss                       51336 non-null  int64
 24  num_lss_6mts                  51336 non-null  int64
 25  num_lss_12mts                 51336 non-null  int64
 26  recent_level_of_deliq         51336 non-null  int64
 27  tot_enq                       51336 non-null  int64
 28  CC_enq                        51336 non-null  int64
 29  CC_enq_L6m                    51336 non-null  int64
 30  CC_enq_L12m                   51336 non-null  int64
 31  PL_enq                        51336 non-null  int64
 32  PL_enq_L6m                    51336 non-null  int64
 33  PL_enq_L12m                   51336 non-null  int64
 34  time_since_recent_enq         51336 non-null  int64
 35  enq_L12m                      51336 non-null  int64
 36  enq_L6m                       51336 non-null  int64
 37  enq_L3m                       51336 non-null  int64
 38  MARITALSTATUS                 51336 non-null  object
 39  EDUCATION                     51336 non-null  object
 40  AGE                           51336 non-null  int64
 41  GENDER                        51336 non-null  object
 42  NETMONTHLYINCOME              51336 non-null  int64
 43  Time_With_Curr_Empr           51336 non-null  int64
 44  pct_of_active_TLs_ever        51336 non-null  float64
 45  pct_opened_TLs_L6m_of_L12m    51336 non-null  float64
 46  pct_currentBal_all_TL         51336 non-null  float64
 47  CC_utilization                51336 non-null  float64
 48  CC_Flag                       51336 non-null  int64
 49  PL_utilization                51336 non-null  float64
 50  PL_Flag                       51336 non-null  int64
 51  pct_PL_enq_L6m_of_L12m        51336 non-null  float64
 52  pct_CC_enq_L6m_of_L12m        51336 non-null  float64
 53  pct_PL_enq_L6m_of_ever        51336 non-null  float64
 54  pct_CC_enq_L6m_of_ever        51336 non-null  float64
 55  max_unsec_exposure_inPct      51336 non-null  float64
 56  HL_Flag                       51336 non-null  int64
 57  GL_Flag                       51336 non-null  int64
 58  last_prod_enq2                51336 non-null  object
 59  first_prod_enq2               51336 non-null  object
 60  Credit_Score                  51336 non-null  int64
 61  Approved_Flag                 51336 non-null  object
dtypes: float64(10), int64(46), object(6)
memory usage: 24.3+ MB

In [9]:
df1.head()

,PROSPECTID,Total_TL,Tot_Closed_TL,Tot_Active_TL,Total_TL_opened_L6M,Tot_TL_closed_L6M,pct_tl_open_L6M,pct_tl_closed_L6M,pct_active_tl,pct_closed_tl,Total_TL_opened_L12M,Tot_TL_closed_L12M,pct_tl_open_L12M,pct_tl_closed_L12M,Tot_Missed_Pmnt,Auto_TL,CC_TL,Consumer_TL,Gold_TL,Home_TL,PL_TL,Secured_TL,Unsecured_TL,Other_TL,Age_Oldest_TL,Age_Newest_TL
0,1,5,4,1,0,0,0.000,0.0,0.200,0.800,0,0,0.00,0.0,0,0,0,0,1,0,4,1,4,0,72,18
1,2,1,0,1,0,0,0.000,0.0,1.000,0.000,1,0,1.00,0.0,0,0,0,1,0,0,0,0,1,0,7,7
2,3,8,0,8,1,0,0.125,0.0,1.000,0.000,2,0,0.25,0.0,1,1,0,6,1,0,0,2,6,0,47,2
3,4,1,0,1,1,0,1.000,0.0,1.000,0.000,1,0,1.00,0.0,1,0,0,0,0,0,0,0,1,1,5,5
4,5,3,2,1,0,0,0.000,0.0,0.333,0.667,0,0,0.00,0.0,0,1,0,0,0,0,0,3,0,2,131,32

In [10]:
df2.head()

,PROSPECTID,time_since_recent_payment,time_since_first_deliquency,time_since_recent_deliquency,num_times_delinquent,max_delinquency_level,max_recent_level_of_deliq,num_deliq_6mts,num_deliq_12mts,num_deliq_6_12mts,max_deliq_6mts,max_deliq_12mts,num_times_30p_dpd,num_times_60p_dpd,num_std,num_std_6mts,num_std_12mts,num_sub,num_sub_6mts,num_sub_12mts,num_dbt,num_dbt_6mts,num_dbt_12mts,num_lss,num_lss_6mts,num_lss_12mts,recent_level_of_deliq,tot_enq,CC_enq,CC_enq_L6m,CC_enq_L12m,PL_enq,PL_enq_L6m,PL_enq_L12m,time_since_recent_enq,enq_L12m,enq_L6m,enq_L3m,MARITALSTATUS,EDUCATION,AGE,GENDER,NETMONTHLYINCOME,Time_With_Curr_Empr,pct_of_active_TLs_ever,pct_opened_TLs_L6m_of_L12m,pct_currentBal_all_TL,CC_utilization,CC_Flag,PL_utilization,PL_Flag,pct_PL_enq_L6m_of_L12m,pct_CC_enq_L6m_of_L12m,pct_PL_enq_L6m_of_ever,pct_CC_enq_L6m_of_ever,max_unsec_exposure_inPct,HL_Flag,GL_Flag,last_prod_enq2,first_prod_enq2,Credit_Score,Approved_Flag
0,1,549,35,15,11,29,29,0,0,0,-99999,-99999,0,0,21,5,11,0,0,0,0,0,0,0,0,0,29,6,0,0,0,6,0,0,566,0,0,0,Married,12TH,48,M,51000,114,0.200,0.0,0.798,-99999.0,0,0.798,1,0.0,0.0,0.0,0.0,13.333,1,0,PL,PL,696,P2
1,2,47,-99999,-99999,0,-99999,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,209,1,0,0,Single,GRADUATE,23,F,19000,50,1.000,0.0,0.370,-99999.0,0,-99999.000,0,0.0,0.0,0.0,0.0,0.860,0,0,ConsumerLoan,ConsumerLoan,685,P2
2,3,302,11,3,9,25,25,1,9,8,25,25,0,0,10,5,10,0,0,0,0,0,0,0,0,0,25,4,0,0,0,0,0,0,587,0,0,0,Married,SSC,40,M,18,191,1.000,0.5,0.585,-99999.0,0,-99999.000,0,0.0,0.0,0.0,0.0,5741.667,1,0,ConsumerLoan,others,693,P2
3,4,-99999,-99999,-99999,0,-99999,0,0,0,0,-99999,-99999,0,0,5,4,5,0,0,0,0,0,0,0,0,0,0,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,-99999,Married,SSC,34,M,10000,246,1.000,1.0,0.990,-99999.0,0,-99999.000,0,0.0,0.0,0.0,0.0,9.900,0,0,others,others,673,P2
4,5,583,-99999,-99999,0,-99999,0,0,0,0,-99999,-99999,0,0,53,4,16,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,3951,0,0,0,Married,POST-GRADUATE,48,M,15000,75,0.333,0.0,0.000,-99999.0,0,-99999.000,0,0.0,0.0,0.0,0.0,-99999.000,0,0,AL,AL,753,P1

In [11]:
# -99999 is generally used to fill the null value in the system
df1=df1.loc[df1['Age_Oldest_TL']!=-99999]

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51296 entries, 0 to 51335
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   PROSPECTID            51296 non-null  int64
 1   Total_TL              51296 non-null  int64
 2   Tot_Closed_TL         51296 non-null  int64
 3   Tot_Active_TL         51296 non-null  int64
 4   Total_TL_opened_L6M   51296 non-null  int64
 5   Tot_TL_closed_L6M     51296 non-null  int64
 6   pct_tl_open_L6M       51296 non-null  float64
 7   pct_tl_closed_L6M     51296 non-null  float64
 8   pct_active_tl         51296 non-null  float64
 9   pct_closed_tl         51296 non-null  float64
 10  Total_TL_opened_L12M  51296 non-null  int64
 11  Tot_TL_closed_L12M    51296 non-null  int64
 12  pct_tl_open_L12M      51296 non-null  float64
 13  pct_tl_closed_L12M    51296 non-null  float64
 14  Tot_Missed_Pmnt       51296 non-null  int64
 15  Auto_TL               51296 non-null  int64
 16  CC_TL                 51296 non-null  int64
 17  Consumer_TL           51296 non-null  int64
 18  Gold_TL               51296 non-null  int64
 19  Home_TL               51296 non-null  int64
 20  PL_TL                 51296 non-null  int64
 21  Secured_TL            51296 non-null  int64
 22  Unsecured_TL          51296 non-null  int64
 23  Other_TL              51296 non-null  int64
 24  Age_Oldest_TL         51296 non-null  int64
 25  Age_Newest_TL         51296 non-null  int64
dtypes: float64(6), int64(20)
memory usage: 10.6 MB

### as there many null -9999 values in df2

In [13]:
columns_to_be_removed = []

for i in df2.columns:
    if df2.loc[df2[i] == -99999].shape[0] > 10000:
        columns_to_be_removed .append(i)

In [14]:
df2 = df2.drop(columns_to_be_removed, axis =1)

In [15]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51336 entries, 0 to 51335
Data columns (total 54 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   PROSPECTID                  51336 non-null  int64
 1   time_since_recent_payment   51336 non-null  int64
 2   num_times_delinquent        51336 non-null  int64
 3   max_recent_level_of_deliq   51336 non-null  int64
 4   num_deliq_6mts              51336 non-null  int64
 5   num_deliq_12mts             51336 non-null  int64
 6   num_deliq_6_12mts           51336 non-null  int64
 7   num_times_30p_dpd           51336 non-null  int64
 8   num_times_60p_dpd           51336 non-null  int64
 9   num_std                     51336 non-null  int64
 10  num_std_6mts                51336 non-null  int64
 11  num_std_12mts               51336 non-null  int64
 12  num_sub                     51336 non-null  int64
 13  num_sub_6mts                51336 non-null  int64
 14  num_sub_12mts               51336 non-null  int64
 15  num_dbt                     51336 non-null  int64
 16  num_dbt_6mts                51336 non-null  int64
 17  num_dbt_12mts               51336 non-null  int64
 18  num_lss                     51336 non-null  int64
 19  num_lss_6mts                51336 non-null  int64
 20  num_lss_12mts               51336 non-null  int64
 21  recent_level_of_deliq       51336 non-null  int64
 22  tot_enq                     51336 non-null  int64
 23  CC_enq                      51336 non-null  int64
 24  CC_enq_L6m                  51336 non-null  int64
 25  CC_enq_L12m                 51336 non-null  int64
 26  PL_enq                      51336 non-null  int64
 27  PL_enq_L6m                  51336 non-null  int64
 28  PL_enq_L12m                 51336 non-null  int64
 29  time_since_recent_enq       51336 non-null  int64
 30  enq_L12m                    51336 non-null  int64
 31  enq_L6m                     51336 non-null  int64
 32  enq_L3m                     51336 non-null  int64
 33  MARITALSTATUS               51336 non-null  object
 34  EDUCATION                   51336 non-null  object
 35  AGE                         51336 non-null  int64
 36  GENDER                      51336 non-null  object
 37  NETMONTHLYINCOME            51336 non-null  int64
 38  Time_With_Curr_Empr         51336 non-null  int64
 39  pct_of_active_TLs_ever      51336 non-null  float64
 40  pct_opened_TLs_L6m_of_L12m  51336 non-null  float64
 41  pct_currentBal_all_TL       51336 non-null  float64
 42  CC_Flag                     51336 non-null  int64
 43  PL_Flag                     51336 non-null  int64
 44  pct_PL_enq_L6m_of_L12m      51336 non-null  float64
 45  pct_CC_enq_L6m_of_L12m      51336 non-null  float64
 46  pct_PL_enq_L6m_of_ever      51336 non-null  float64
 47  pct_CC_enq_L6m_of_ever      51336 non-null  float64
 48  HL_Flag                     51336 non-null  int64
 49  GL_Flag                     51336 non-null  int64
 50  last_prod_enq2              51336 non-null  object
 51  first_prod_enq2             51336 non-null  object
 52  Credit_Score                51336 non-null  int64
 53  Approved_Flag               51336 non-null  object
dtypes: float64(7), int64(41), object(6)
memory usage: 21.1+ MB

In [16]:
# now removing the rows whose values are equal to -99999
for i in df2.columns:
    df2 = df2.loc[ df2[i] != -99999]

In [17]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42066 entries, 0 to 51335
Data columns (total 54 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   PROSPECTID                  42066 non-null  int64
 1   time_since_recent_payment   42066 non-null  int64
 2   num_times_delinquent        42066 non-null  int64
 3   max_recent_level_of_deliq   42066 non-null  int64
 4   num_deliq_6mts              42066 non-null  int64
 5   num_deliq_12mts             42066 non-null  int64
 6   num_deliq_6_12mts           42066 non-null  int64
 7   num_times_30p_dpd           42066 non-null  int64
 8   num_times_60p_dpd           42066 non-null  int64
 9   num_std                     42066 non-null  int64
 10  num_std_6mts                42066 non-null  int64
 11  num_std_12mts               42066 non-null  int64
 12  num_sub                     42066 non-null  int64
 13  num_sub_6mts                42066 non-null  int64
 14  num_sub_12mts               42066 non-null  int64
 15  num_dbt                     42066 non-null  int64
 16  num_dbt_6mts                42066 non-null  int64
 17  num_dbt_12mts               42066 non-null  int64
 18  num_lss                     42066 non-null  int64
 19  num_lss_6mts                42066 non-null  int64
 20  num_lss_12mts               42066 non-null  int64
 21  recent_level_of_deliq       42066 non-null  int64
 22  tot_enq                     42066 non-null  int64
 23  CC_enq                      42066 non-null  int64
 24  CC_enq_L6m                  42066 non-null  int64
 25  CC_enq_L12m                 42066 non-null  int64
 26  PL_enq                      42066 non-null  int64
 27  PL_enq_L6m                  42066 non-null  int64
 28  PL_enq_L12m                 42066 non-null  int64
 29  time_since_recent_enq       42066 non-null  int64
 30  enq_L12m                    42066 non-null  int64
 31  enq_L6m                     42066 non-null  int64
 32  enq_L3m                     42066 non-null  int64
 33  MARITALSTATUS               42066 non-null  object
 34  EDUCATION                   42066 non-null  object
 35  AGE                         42066 non-null  int64
 36  GENDER                      42066 non-null  object
 37  NETMONTHLYINCOME            42066 non-null  int64
 38  Time_With_Curr_Empr         42066 non-null  int64
 39  pct_of_active_TLs_ever      42066 non-null  float64
 40  pct_opened_TLs_L6m_of_L12m  42066 non-null  float64
 41  pct_currentBal_all_TL       42066 non-null  float64
 42  CC_Flag                     42066 non-null  int64
 43  PL_Flag                     42066 non-null  int64
 44  pct_PL_enq_L6m_of_L12m      42066 non-null  float64
 45  pct_CC_enq_L6m_of_L12m      42066 non-null  float64
 46  pct_PL_enq_L6m_of_ever      42066 non-null  float64
 47  pct_CC_enq_L6m_of_ever      42066 non-null  float64
 48  HL_Flag                     42066 non-null  int64
 49  GL_Flag                     42066 non-null  int64
 50  last_prod_enq2              42066 non-null  object
 51  first_prod_enq2             42066 non-null  object
 52  Credit_Score                42066 non-null  int64
 53  Approved_Flag               42066 non-null  object
dtypes: float64(7), int64(41), object(6)
memory usage: 17.7+ MB

In [19]:
df2.isna().sum()

PROSPECTID                    0
time_since_recent_payment     0
num_times_delinquent          0
max_recent_level_of_deliq     0
num_deliq_6mts                0
num_deliq_12mts               0
num_deliq_6_12mts             0
num_times_30p_dpd             0
num_times_60p_dpd             0
num_std                       0
num_std_6mts                  0
num_std_12mts                 0
num_sub                       0
num_sub_6mts                  0
num_sub_12mts                 0
num_dbt                       0
num_dbt_6mts                  0
num_dbt_12mts                 0
num_lss                       0
num_lss_6mts                  0
num_lss_12mts                 0
recent_level_of_deliq         0
tot_enq                       0
CC_enq                        0
CC_enq_L6m                    0
CC_enq_L12m                   0
PL_enq                        0
PL_enq_L6m                    0
PL_enq_L12m                   0
time_since_recent_enq         0
enq_L12m                      0
enq_L6m                       0
enq_L3m                       0
MARITALSTATUS                 0
EDUCATION                     0
AGE                           0
GENDER                        0
NETMONTHLYINCOME              0
Time_With_Curr_Empr           0
pct_of_active_TLs_ever        0
pct_opened_TLs_L6m_of_L12m    0
pct_currentBal_all_TL         0
CC_Flag                       0
PL_Flag                       0
pct_PL_enq_L6m_of_L12m        0
pct_CC_enq_L6m_of_L12m        0
pct_PL_enq_L6m_of_ever        0
pct_CC_enq_L6m_of_ever        0
HL_Flag                       0
GL_Flag                       0
last_prod_enq2                0
first_prod_enq2               0
Credit_Score                  0
Approved_Flag                 0
dtype: int64

In [20]:
# Checking common column names
for i in list(df1.columns):
    if i in list(df2.columns):
        print (i)

PROSPECTID

In [21]:
# Merge the two dataframes, inner join so that no nulls are present
df = pd. merge ( df1, df2, how ='inner', left_on = ['PROSPECTID'], right_on = ['PROSPECTID'] )

In [22]:
df.head()

,PROSPECTID,Total_TL,Tot_Closed_TL,Tot_Active_TL,Total_TL_opened_L6M,Tot_TL_closed_L6M,pct_tl_open_L6M,pct_tl_closed_L6M,pct_active_tl,pct_closed_tl,Total_TL_opened_L12M,Tot_TL_closed_L12M,pct_tl_open_L12M,pct_tl_closed_L12M,Tot_Missed_Pmnt,Auto_TL,CC_TL,Consumer_TL,Gold_TL,Home_TL,PL_TL,Secured_TL,Unsecured_TL,Other_TL,Age_Oldest_TL,Age_Newest_TL,time_since_recent_payment,num_times_delinquent,max_recent_level_of_deliq,num_deliq_6mts,num_deliq_12mts,num_deliq_6_12mts,num_times_30p_dpd,num_times_60p_dpd,num_std,num_std_6mts,num_std_12mts,num_sub,num_sub_6mts,num_sub_12mts,num_dbt,num_dbt_6mts,num_dbt_12mts,num_lss,num_lss_6mts,num_lss_12mts,recent_level_of_deliq,tot_enq,CC_enq,CC_enq_L6m,CC_enq_L12m,PL_enq,PL_enq_L6m,PL_enq_L12m,time_since_recent_enq,enq_L12m,enq_L6m,enq_L3m,MARITALSTATUS,EDUCATION,AGE,GENDER,NETMONTHLYINCOME,Time_With_Curr_Empr,pct_of_active_TLs_ever,pct_opened_TLs_L6m_of_L12m,pct_currentBal_all_TL,CC_Flag,PL_Flag,pct_PL_enq_L6m_of_L12m,pct_CC_enq_L6m_of_L12m,pct_PL_enq_L6m_of_ever,pct_CC_enq_L6m_of_ever,HL_Flag,GL_Flag,last_prod_enq2,first_prod_enq2,Credit_Score,Approved_Flag
0,1,5,4,1,0,0,0.000,0.0,0.200,0.800,0,0,0.00,0.000,0,0,0,0,1,0,4,1,4,0,72,18,549,11,29,0,0,0,0,0,21,5,11,0,0,0,0,0,0,0,0,0,29,6,0,0,0,6,0,0,566,0,0,0,Married,12TH,48,M,51000,114,0.200,0.0,0.798,0,1,0.0,0.0,0.000,0.0,1,0,PL,PL,696,P2
1,2,1,0,1,0,0,0.000,0.0,1.000,0.000,1,0,1.00,0.000,0,0,0,1,0,0,0,0,1,0,7,7,47,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,209,1,0,0,Single,GRADUATE,23,F,19000,50,1.000,0.0,0.370,0,0,0.0,0.0,0.000,0.0,0,0,ConsumerLoan,ConsumerLoan,685,P2
2,3,8,0,8,1,0,0.125,0.0,1.000,0.000,2,0,0.25,0.000,1,1,0,6,1,0,0,2,6,0,47,2,302,9,25,1,9,8,0,0,10,5,10,0,0,0,0,0,0,0,0,0,25,4,0,0,0,0,0,0,587,0,0,0,Married,SSC,40,M,18,191,1.000,0.5,0.585,0,0,0.0,0.0,0.000,0.0,1,0,ConsumerLoan,others,693,P2
3,5,3,2,1,0,0,0.000,0.0,0.333,0.667,0,0,0.00,0.000,0,1,0,0,0,0,0,3,0,2,131,32,583,0,0,0,0,0,0,0,53,4,16,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,3951,0,0,0,Married,POST-GRADUATE,48,M,15000,75,0.333,0.0,0.000,0,0,0.0,0.0,0.000,0.0,0,0,AL,AL,753,P1
4,6,6,5,1,0,0,0.000,0.0,0.167,0.833,0,1,0.00,0.167,0,4,0,0,2,0,0,6,0,0,150,17,245,14,270,0,0,0,13,11,5,0,2,3,0,1,0,0,0,0,0,0,26,15,2,0,1,7,3,3,7,6,5,4,Married,12TH,35,M,0,154,0.167,0.0,0.000,0,0,1.0,0.0,0.429,0.0,1,0,ConsumerLoan,PL,668,P3